.top-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#title{
    border-color: black;
    border-width: 2px;
    border-style: inset;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
  }

.img{
    width: 200px;
    height: 200px;
  }

.name{
    border-color: black;
    border-width: 2px;
    border-style: inset;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 45px;
    margin-bottom: 20px;
    font-size: 18px;
}

.specs-abilities-container {
    display: grid;
    grid-template-columns: auto auto;

  }

.raw-container {
    display: grid;
    grid-template-columns: 115px 100px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
  }

.data-container{
    border-color: black;
    border-width: 2px;
    border-style: inset;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 45px;
    vertical-align:top
}

#specs{
    display: none;
    
}

#ability{
  display: none;
  
}

#title-specs{
  display: none;
  
}

#title-ability{
display: none;

}

.specs-abilities-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -150px;
    font-size: 18px;
}